
  <% include parts/_head%>

  <title></title>
  <meta name="description" content="">
  <link rel="canonical" href="">


</head>

<body class="ja">

  <div class="top_main">
    <div class="contents top_main_inner">
      <img src="/img/top/main.jpg" alt="横濱SIMは横浜発信の訪日外国人向けプリペイドSIMカードです。">
      <div class="top_main__txt">
        <ul class="top_lang">
          <li class="top_lang__item top_lang__jp current">JP</li>
          <li class="top_lang__item top_lang__en"><a class="top_lang__link" href="/en/">EN</a></li>
        </ul>
        Powered by <a class="main_ej_logo" href="http://www.ejworks.com/" target="_blank"><img src="/img/top/ej_logo.png" alt="ejworks.com"></a>
      </div>
    </div>
  </div>
  <!-- .top_main -->

  <div class="section_sns">
    <div class="contents">
      <h1 class="contents_description -jp">「横濱SIM」は訪日外国人向けデータ通信用プリペイドSIMカード。期間中、安定の通信速度で短期間の滞在に便利なSIMカード。</h1>
      <div class="sns__btn">
        <div class="fb-like" data-href="http://yokohamasim.jp/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
      </div>
    </div>
  </div>
  <!-- .section_sns -->

  <section class="section top_section01">
    <div class="contents top_contents01">
      <div class="top_contents__img top_contents01__img"><img src="/img/top/section_img01.jpg" alt=""></div>
      <div class="top_contents_body top_contents01_body">
        <h2 class="heading_primary contents01_heading_primary">日本でのインターネット<br>接続は安心・高品質！</h2>
        <p class="top_contents__txt top_contents01__txt">横浜発信の訪日外国人向けデータ通信用プリペイドSIMカード「横濱SIM」は、4Gネットワークの安定した速度で高品質のインターネット接続環境を提供し短期間の観光、旅行などの日本滞在中に好きな時間と場所でインターネットを使用することができます。
        </p>
      </div>
    </div>
  </section>
  <!-- .section top_section01 -->

  <section class="section top_section02">
    <div class="contents top_contents02">
      <div class="top_contents_body top_contents02_body">
        <h2 class="heading_primary contents02_heading_primary">断然お得に活用できる<br>データ通信用SIMカード</h2>
        <p class="top_contents__txt top_contents02__txt">高価なローミング料金を支払うよりも、現地でデータ通信用プリペイドSIMカードを購入したほうが断然お得！滞在期間に合わせ、インターネットを活用できます。
        </p>
      </div>
      <div class="top_contents__img top_contents02__img"><img src="/img/top/section_img02.jpg" alt=""></div>
    </div>
  </section>
  <!-- .ection top_section02 -->

  <section class="section top_section03">
    <h2 class="heading_primary contents03_heading_primary">プリペイドSIMカード <span class="top_heading__cap">(データ通信のみ)
    </span></h2>
    <div class="contents top_contents03">
      <div class="top_contents__img top_contents03__img"><img src="/img/top/section_img03.png" alt=""></div>
      <div class="top_contents_body top_contents03_body">
        <h3 class="top_contents03_ttl -jp">短期間での滞在にも合わせたサービスプラン </h3>
        <p class="top_contents03__item -jp">滞在日数に合わせて3つのサービスプランをご用意。最短7日間からの短期間で安価プランをご利用いただけます。</p>
        <h3 class="top_contents03_ttl -jp">簡単セットアップで利用開始</h3>
        <p class="top_contents03__item -jp">あなたの端末にAPNをセットすればすぐにご利用開始できます。煩わしいデータ通信用プリペイドSIMカードの登録などは必要ありません。</p>
        <h3 class="top_contents03_ttl -jp">日本への旅行の記念に</h3>
        <p class="top_contents03__item -jp">台紙パッケージが日本での観光、旅行の思い出に様変わり。折り紙としてご利用いただけます。</p>
      </div>
    </div>
    <div class="top_contents_btn"><a href="/detail/"><img src="/img/top/more_btn_ja.png" alt="SIMカードを見る"></a></div>
  </section>
  <!-- .ection top_section03 -->

  <% include parts/_footer_jp%>


</body>
</html>



