<footer class="l_footer">
	<div class="contents">
		<nav>
			<ul class="l_footer_nav -en">
				<li class="footer_nav__item"><a href="/en/">Home</a></li>
				<li class="footer_nav__item"><a href="/en/detail/">APN Setting</a></li>
				<li class="footer_nav__item"><a href="/en/detail/set_android.html">Android Device Setting Method</a></li>
				<li class="footer_nav__item"><a href="/en/detail/set_ios.html">iOS Device Setting Method</a></li>
				<li class="footer_nav__item"><a href="/en/partner/">Retail Partner</a></li>
			</ul>
		</nav>
		<div class="footer__copy">Copyright &#169; 2015 ejworkscorporation. All rights reserved.</div>
	</div>
</footer>
