<footer class="l_footer">
	<div class="contents">
		<nav>
			<ul class="l_footer_nav -jp">
				<li class="footer_nav__item"><a href="/">ホーム</a></li>
				<li class="footer_nav__item"><a href="/detail/">端末のAPN設定について</a></li>
				<li class="footer_nav__item"><a href="/detail/set_android.html">Android端末の設定方法</a></li>
				<li class="footer_nav__item"><a href="/detail/set_ios.html">iOS端末の設定方法</a></li>
				<li class="footer_nav__item"><a href="/partner/">販売店募集</a></li>
			</ul>
		</nav>
		<div class="footer__copy">Copyright &#169; 2015 ejworkscorporation. All rights reserved.</div>
	</div>
</footer>
